.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.formControl {
  margin: 20px;
}

.App-header {
  color: white;
  background-color: #282c34;
} 

.pokemonDisplay {
  border: solid 1px palevioletred;
  padding: 10px;
  border-radius: 10px;
  margin: 30px
}

img {
  width: 70%;
}

caption {
  margin: 10px;
  font-size: 1.5em;
  font-weight: bold

}

.thumbnail {
  border-radius: 50%;
}
.pokemons{
  text-align: center;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  flex-wrap: wrap;
}

button {
  margin: 10px;
  border-radius: 3px;
  background: transparent;
  border: 2px solid palevioletred;
  color: palevioletred;
  padding: 0.25em 1em;
}

.details {
  text-align: center;
  display: flex
}
table {
  border-collapse: collapse;
  margin: 20px;
}
td, th {
  border: 1.5px solid palevioletred;
  padding: 10px
  /* border-radius: 10px */
}
